/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.oneuser {
  display: flex;
}

.photo {
  margin: 10px;
  width: 129px;
}

.userandposts {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border: 1px solid black;
}

.username {
  font-size: 56px;
  align-self: center;
}

.postscounter {
  font-size: 14px;
  align-self: flex-end;
}
